<?xml version="1.0" encoding="utf-8" ?>
<!--<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
	autoReload="true"
	throwExceptions="true"
	internalLogLevel="Error" internalLogFile="c:\temp\nlog-internal.log">

	<!--[變數] 文字樣板 -->
	<variable name="Layout" value="${date:format=yyyy-MM-dd HH\:mm\:ss.ffffff} | ${level:uppercase=true} | ${logger} | ${message}"/>
	<variable name="LayoutFatal" value="${date:format=yyyy-MM-dd HH\:mm\:ss.ffffff} | ${level:uppercase=true} | ${logger} | ${message} | ${exception:format=tostring} ${newline}"/>

	<!--[變數] 檔案位置 -->
	<variable name="LogTxtDir" value="${basedir}/Logs/${shortdate}/"/>
	<variable name="LogTxtLocation" value="${LogTxtDir}/${logger}.log"/>
	<variable name="LogTxtLocationFatal" value="${LogTxtDir}/ERRORFile.log"/>

	<!--[設定] 寫入目標-->
	<targets>
		<target name="File" xsi:type="File" fileName="${LogTxtLocation}" layout="${Layout}"
				encoding="utf-8" maxArchiveFiles="30" archiveNumbering="Sequence"
				
				archiveAboveSize="10485760" archiveFileName="${LogTxtDir}/${logger}.log{#######}" />
		<target name="FileFatal" xsi:type="File" fileName="${LogTxtLocationFatal}" layout="${LayoutFatal}"
				encoding="utf-8" maxArchiveFiles="30" archiveNumbering="Sequence"
				archiveAboveSize="10485760" archiveFileName="${LogTxtDir}/FatalFile.log{#######}" />
		
		<target name="database" xsi:type="Database"
              dbProvider="Oracle.ManagedDataAccess.Client.OracleConnection, Oracle.ManagedDataAccess"
              connectionString="DATA SOURCE = (DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = 172.16.53.192)(PORT = 1521)) (CONNECT_DATA = (SERVER = DEDICATED) (SERVICE_NAME = xbos2))); USER ID=XBOSPROD; PASSWORD=login123"
			  commandText="Insert into NLog(log_date,log_thread,log_level,log_location,log_message,log_exception,system_id) values(to_date(substr(:log_date,1,19),'yyyy-mm-dd hh24:mi:ss'),:log_thread,:log_level,:log_location,:log_message,:log_exception,'BAP')">
			  <parameter name=":log_date" layout="${longdate}"  />
			  <parameter name=":log_thread" layout="${threadid}"  />
			  <parameter name=":log_level" layout="${level}" />
			  <parameter name=":log_location" layout="${callsite:filename=true}" />
			  <parameter name=":log_message" layout="${message}" />
			  <parameter name=":log_exception" layout="${exception:tostring}" />
    </target>
	</targets>
	<!--[設定] 紀錄規則-->
	<rules>
		<logger name="*" minlevel="Trace" writeTo="database" />
		<logger name="*" levels="Debug,Info,Warn" writeTo="File" />
		<logger name="*" levels="Error,Fatal" writeTo="FileFatal" />
	</rules>
</nlog>
